{% extends 'base.html' %}

{% block content %}

<div id='about'>
    <div id='inner_about' >
        <div style='margin-bottom:100px; margin-right:200px;margin-left:100px'>
        <h1> Meet the Team</h1>
        <br>
        <p style="font-family:didot; font-size: x-large; font-weight: 200">My name is Brandon Schumacher, and I am the founder and CEO of Shu’s 
            Tutoring, LLC. I have owned and operated Shu’s Tutoring for over six 
            years and used to operate Two Shus, LLC , a nonprofit organization dedicated 
            to providing free tutoring to low-income students and adults seeking their GED. </p>
        </div>

        <div>
            <img id='brandon_raysa' src='static/images/brandon_raysa.jpeg' height='400px' width='300px'>
        </div>
    </div>

    <div style='margin-bottom:100px; margin-right:200px;margin-left:100px'>
        <h4>Educational Background</h4>
        <br>
        <ul style='font-family:didot; font-weight:200'>
            <li>Currently attending Columbia University for applied math/computer science</li>
            <li>Graduated from Cornell University in 2012</li>
            <li>99th percentile on SAT and ACT</li>
        </ul>
    </div>

    <div id='bubbacitos'>

        <div style='margin-right: 200px;'>
            <h3 style='text-align:center'>Apollo</h3>
            <h5>Tutor</h5>
            <p style='font-family:didot'>Likes to occasionally nap during the sessions. Loves all things 
                food and has never missed a meal. He is very patient with his little brother.</p>
            <img src='static/images/apollo.jpeg' height='400px' width='300px'>
        </div>

        <div style='margin-right: 10px;'>
            <h3 style='text-align:center'>Teddy Rex</h3>
            <h5 >Tutor</h5>
            <p style='font-family:didot'> Loves to pop in and say hello during our sessions. Occasionally growls 
                when the sessions go over time. Loves bothering his big brother. </p>
            <img src='static/images/teddy.jpeg' height='400px' width='300px'>

        </div>

        

    </div>
</div><!-- outermost div-->

{% endblock %}