{% extends 'base.html' %}


{% block content %}
<div id="div1">
        <div>
            <h1> Welcome!</h1>
        </div>  
        <br>
        <br>
        <br>
        <br>
        <div>
            <h2>Subjects Offered
            </h2>
        </div>
        <br>
        <br>
        <div id="deets">
            <ul>
                <li>Pre-ACT/SAT Prep Work: Comprehensive 
                    review of high school math and English grammar/punctuation</li>
                <li>SAT</li>
                <li>PSAT</li>
                <li>SSAT</li>
                <li>ACT</li>
                <li>College Essays</li>
                <li>Math (Pre-Algebra through Calculus IV)</li>
                <li>Chemistry</li>
                <li>Biology</li>
                <li>Physics</li>
            </ul>
        </div>
        <br>
        <br>
        <div>
            <h2>Details</h2>
        </div>
        <br>
        <br>
        <div id="deets">
            <ul>
                <li>1-on-1 tutoring</li>
                <li>Small group tutoring</li>
                <li>Conducted online using Google products: Gmail, Google Drive, and Google Jamboard</li>
            </ul>
        </div>


        
        <br>
        <br>
        <br>
        <br>
                
         <div>
            <h2>How does the online format look?</h2>
         </div>

         <div>
            <video  autoplay="autoplay" loop="loop" muted="muted" height='800' width='800'>
                <source src="static/images/video_website (1).mp4" type="video/mp4"/>
            </video>
         </div>
</div><!-- outermost div  -->




{% endblock %}