{% extends 'base.html' %}

{% block content %}

<div id='services'>

    <div id='services_left'>
        <h3>Our Services</h3>
        <ul>
            <li>SAT prep</li>
            <li>PSAT prep</li>
            <li>SSAT prep</li>           
            <li>ACT prep</li>         
            <li>Pre-Algebra</li>         
            <li>Algebra I</li>        
            <li>Algebra II</li>      
            <li>Geometry</li>     
            <li>Trigonometry</li>     
            <li>Precalculus</li>     
            <li>Calculus I</li>      
            <li>Calculus II</li>       
            <li>Calculus III</li>       
            <li>Calculus IV</li>      
            <li>AP Calculus AB, BC</li>       
            <li>English grammar</li>       
            <li>College Essays</li>
        </ul>
    </div>

    <div id='services_right'>

        <div id='services_right_top'>
            <h3>All of our classes are taught remotely using Google Workspace</h3>
            <ul>
                <li>Gmail (student needs a personal account)</li>
                <li>Google Meet/Chat</li>
                <li>Google Drive</li>
                <li>Google JamBoard</li>
            </ul>
        </div>

        <div id='services_right_middle'>
            <h3>Accountability</h3>
            <ul>
                <li>Parents have the option of scheduling a 15-minute call every two 
                    weeks to discuss their child’s progress</li>
                <li>Emails are sent after every session (“Session Overview”) explaining 
                    what was covered in the session, whether homework was completed, 
                    concerns regarding student progress, and homework assigned for 
                    following session</li>
            </ul>
        </div>

        <div id='services_right_bottom'>
            <h3>Rates</h3>
            <ul>
                <li>$100/hr for a single session</li>
                <li>$360 for a package of four sessions ($90/hr)</li>
                <li>$680 for a package of eight sessions ($85/hr)</li>
            </ul>
        </div>

        <div id='services_right_bottom_bottom'>
            <h3>Payment Options</h3>
            <ul>
                <li>Zelle</li>
                <li>Venmo</li>
                <li>PayPal</li>
            </ul>
        </div>


    </div>

</div><!--outermost div-->


{% endblock %}